body {
    background-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
}

.btn {
    border: 0;
    border-radius: 4px;
    border-bottom: 2px solid #fafafa;
    transition: background-color 0.5s;
}

.btn:focus, .btn:active, .btn:hover {
    border-bottom-color: #fafafa;
}

.btn-default {
    background-color: #eeeeee;
}

.btn-default:focus, .btn-default:active, .btn-default:hover {
    background-color: #e0e0e0;
}

.btn-primary {
    background-color: #009642;
    font-weight: 500;
}

.btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    background-color: #008038;
}

.btn:disabled {
    border-color: #fafafa;
    background-color: #fafafa;
    color: #bdbdbd;
}

label {
    cursor: pointer;
    color: #7e7e7e;
    transition: color 0.5s;
}

.checkbox input[type="checkbox"]:checked + label, .radio input[type="radio"]:checked + label {
    color: #000000;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #009642;
    border-color: #009642;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #009642;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #009642;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #009642;
}

input[type="text"].form-control, input[type="password"].form-control, textarea.form-control {
    box-shadow: none;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-bottom-width: 2px;
    border-radius: 4px;
    transition: background-color 0.5s;
}

input[type="text"].form-control:focus, input[type="password"].form-control:focus, textarea.form-control:focus {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-bottom-width: 2px;
    box-shadow: none;
}

input[type="text"]:disabled, input[type="password"]:disabled, textarea:disabled {
    background-color: #fafafa;
    color: #bdbdbd;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover {
    outline: 0px !important;
    -webkit-appearance: none;
}

.nav-tabs {
    border-bottom-color: #f0f0f0;
}

.nav-tabs > li {
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    border: 0;
    border-bottom: 4px solid transparent;
    padding: 10px 15px 6px;
    transition: border-bottom 0.5s, color 0.5s;
    color: #009642;
}

.nav-tabs > li > a:hover {
    background-color: transparent;
    border-bottom: 4px solid #f0f0f0;
    color: #008038;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #f0f0f0;
    border: 0;
    border-bottom: 4px solid #f0f0f0;
    font-weight: bold;
    border-radius: 0;
}

/* Modalne okno */
.modal .modal-header {
    border-radius: 4px 4px 0 0;
    background-color: #fafafa;
    border-bottom-color: #eeeeee;
}

.modal .modal-footer {
    border-top-color: #eeeeee;
}

.modal h4 {
    color: #009642;
}

/* Panel */
.panel-group .panel, .panel {
    border: 0;
    border-bottom: 2px solid #fafafa;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    transition: border-color 0.25s;
}

.panel-group .panel:hover, .panel:hover {
    border-bottom-color: #eeeeee;
}

.panel {
    border: 0;
}

.panel.panel-default .panel-heading {
    background-color: #eeeeee;
}

.panel.panel-default .panel-heading.active {
    background-color: #009642;
    color: #ffffff;
}

.panel > .panel-heading + .panel-collapse > .panel-body {
    border: 1px solid transparent;
    border-style: none solid;
    transition: border-color 0.25s;
}

.panel:hover > .panel-heading + .panel-collapse > .panel-body {
    border-right-color: #eeeeee;
    border-left-color: #eeeeee;
}

.panel.panel-collapse + .panel-heading {
    text-decoration: underline;
}

/* Strankovanie */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination >.active > span:focus {
    background-color: #009642;
    border-color: #009642;
}

.pagination > li > a, .pagination > li > span {
    color: #757575;
}

/* Navigacny panel. */
.navbar-default {
    background-color: #424242;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    font-size: 1.2em;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.13);
    box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.13);
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    transition: color 0.25s;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #009642;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    background-color: #009642;
    color: #ffffff;
}

input[type="text"].navbar-search, input[type="text"]:active.navbar-search, input[type="text"]:focus.navbar-search {
    background-color: transparent;
    color: #ffffff;
    border: 0;
}

.navbar-search-form {
    margin-left: 10px;
}

.navbar-search-form .navbar-search {
    width: 300px;
}

.navbar-default .dropdown-menu {
    border-color: #009642;
    border-top: 0;
    box-shadow: none;
    margin-right: -1px;
}

.navbar-default .dropdown-menu .divider {
    background-color: #e0e0e0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active> a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #ffffff;
}

.navbar-default .notification-li {
    margin-right: 10px;
}

.navbar-default .notification {
    margin-right: 10px;
}

.navbar-default .notification-line {
    background-color: #787878;
    width: 1px;
    height: 30px;
    float: right;
    margin-top: 10px;
}

.navbar-default .profile-photo {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Upozornenia */
#alerts-container {
    border-top: 4px solid #009642;
    background-color: #009642;
    text-align: center;
}

#alerts-container .alert {
    padding: 7px 0;
    font-size: 0.9em;
    margin: 0;
    border: 0;
    border-radius: 0;
    color: #ffffff;
}

#alerts-container .alert-info {
    background-color: #72d572;
}
/* TODO Pridat easing */
#alerts-container .alert-success {
    background-color: #009642;
}

#alerts-container .alert-danger {
    background-color: #d00000;
}

#alerts-container .alert-warning {
    background-color: #e84e40;
}

#alerts-container a, #alerts-container a:hover {
    color: #ffffff;
}

#alerts-container .btn {
    padding: 2px 8px;
}

/* Hlavny container. */
#main-container {
    margin-top: 100px;
    margin-bottom: 40px;
}

/* Sidebar */
#sidebar {
    padding-right: 0;
}

#sidebar .sidebar-title {
    color: #aaaaaa;
    text-transform: uppercase;
    margin: 15px 0 10px;
    padding: 0 15px;
}

#sidebar ul, #sidebar ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul {
    font-size: 1.2em;
}

#sidebar ul li a {
    color: #6e6e6e;
    display: block;
    padding: 10px 15px;
    transition: color 0.25s;
}

#sidebar ul li a:hover {
    text-decoration: none;
    color: #4e4e4e;
}

#sidebar ul li a i {
    margin-right: 5px;
}

#sidebar ul li.sel a {
    background-color: #ffffff;
    color: #009642;
}

/* Obsah */
#content {
    background-color: #ffffff;
    border-bottom: 2px solid #d9d9d9;
}