.btn {
    border: 0;
}

.btn-default {
    background-color: #f0f0f0;
}

.btn-primary {
    
}

.btn-warning {
    
}

.nav-tabs {
    border-bottom-color: #f0f0f0;
}

.nav-tabs > li {
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    border: 0;
    border-bottom: 4px solid transparent;
    padding: 10px 15px 6px;
    transition: border-bottom 0.5s, color 0.5s;
}

.nav-tabs > li > a:hover {
    background-color: transparent;
    border-bottom: 4px solid #f0f0f0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #f0f0f0;
    border: 0;
    border-bottom: 4px solid #f0f0f0;
    font-weight: bold;
    border-radius: 0;
}

label {
    cursor: pointer;
    color: #7e7e7e;
}

input.form-control:focus + label, input.form-control:active + label, textarea.form-control:focus + label, textarea.form-control:active + label,
input[type="checkbox"].form-control:checked + label, input[type="radio"].form-control:checked + label {
    color: #000000;
}

input[type="text"].form-control, input[type="password"].form-control, textarea.form-control {
    box-shadow: none;
    cursor: pointer;
}

input[type="text"].form-control:focus, input[type="password"].form-control:focus, textarea.form-control:focus {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow:    2px 2px 3px 0px rgba(0, 0, 0, 0.12);
    box-shadow:         2px 2px 3px 0px rgba(0, 0, 0, 0.12);
}